<div class="container">
	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-sign-in"></span> Login</h1>
		<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>	  
		<!-- LOGIN FORM -->
		<form ng-submit="login( user )" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email" ng-model="user.email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password" ng-model="user.password">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Login</button>
		</form>

		<hr>
		        <p>Login with:</p>
				
			<div ng-controller="socialConnectCtrl">
				<button ng-click="facebookConnect()" ng-disabled="disablePopup" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook </button> 
				  <button ng-click="googleConnect()" ng-disabled="disablePopup" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</button>
				  <button ng-click="twitterConnect()" ng-disabled="disablePopup" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter </button>
			</div>
			  

		<p>Need an account? <a href="/#!/signup">Signup</a></p>
		<p>Or go <a href="/#!/">home</a>.</p>

	</div>
</div>