<div class="container">
	<div class="jumbotron text-center">
		 <h1> <i class="fa fa-tags"></i> Add New Product </h1>
	</div>
</div>
<loader></loader>
<div class="container" ng-init="loadDefaults();getProductCategories();" ng-hide="loading">
	 <!-- <div class="alert alert-success" ng-show="addSuccess">
	  <strong>Success!</strong> New Product Added Successfully!
	</div>  -->
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	
	<form ng-submit="addNewProduct( product )" method="POST" role="form">
		<product></product>
		<button type="submit" class="btn btn-primary"> Save </button>
		<a href="#!products" class="btn btn-default" ng-click="revertAddingProduct( product )"> Cancel </a>
		<a href="#!products" class="pull-right">Go Back</a>
	</form>
</div>

