body, html{
	height:100%;min-height:100%;
}

.wrapper{
	min-height:100%;
	position:relative;
	padding: 0 0 60px;
	overflow:auto;
}


.messages{
	margin:0;padding:0;list-style:none;
}
img.img-preview{
	max-width:85px;
	max-height:65px;
	height:auto;
	width:auto;
}

a.theader,
a.theader:hover,
a.theader:visited{
	color:#93c54b;
	outline:none;
	border: 0 none;
}
#main{
	padding:0 0 15px 0;
}
.dataset{
	position:relative;
	min-height:410px;
}

.spinner{
	position:absolute;left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
}
.spinner img{ max-width:65px;max-height:65px; height:auto;width:auto;}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }

	.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

	.small-image{
		max-width:75px;max-height:75px;height:auto;width:auto;display:block;margin:0 auto;
	}

	label.input{
		font-weight:normal;
	}

.wrapper button, .wrapper a, .wrapper a:hover, .wrapper a:visited{
	outline:none;
}

.panel-body.mxh310{
	max-height:310px; overflow:auto;
}

.lh34{
	line-height:34px;
}

.lh44{
	line-height:44px;
}

.fwn{
	font-weight:bold;
}
.fwb{
	font-weight:bold;
}
.group-divider{
	margin: 5px;
}

.disabled-true {
  text-decoration: line-through;
  color: grey;
}
